<!DOCTYPE html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>

<p>Click the button to get list of food items.</p>

<button onclick="getLocation()">Try It</button>

<p id="demo"></p>
<p> Food Near you (if empty none was found)</p>
<ul id="foodnearyou"></ul>
<p>Food near 37.78, -122.4</p>
<ul id="foodinsf"></ul>

<script>
var x = document.getElementById("demo");
var sfList = document.getElementById("foodinsf");
var nearUList = document.getElementById("foodnearyou");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(getfoodnearme);
    } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function getfoodnearme(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude + 
                "<br>Longitude: " + position.coords.longitude;
    latitude = 37.78;
    longitude = -122.4;
    $.get( "/api/foodnearme",
        {lat : latitude, lng : longitude},
        function( data, status ) {
            
            for(fooditem in data)
            {
                sfList.innerHTML += "<li>" + fooditem + "</li>";
            }
        }, "json");
    $.get( "/api/foodnearme",
        {lat : position.coords.latitude, lng : position.coords.longitude},
        function( data, status ) {
            
            for(fooditem in data)
            {
                nearUList.innerHTML += "<li>" + fooditem + "</li>";
            }
        }, "json");
}
</script>

</body>
</html>
